$black: #202225;
$dark-grey-lightest: #5e6169;
$dark-grey-lighter: #4e5159;
$dark-grey-lightmore: #46494f;
$dark-grey-light: #3d4048;
$dark-grey: #25282e;
$dark-grey-2: #36393f;
$dark-grey-strong: #222427;
$dark-grey-stronger: #121417;
$purple-grey: #4a4a6f;
$white-grey: #eee;
$white-grey-light: #f9f9f9;
$white: #fefefe;
$light-grey-light: #ddd;
$light-grey: #ccc;
$light-grey-2: #bbb;
$mid-grey: #56595f;
$orange: #f57f77;
$orange-carrot: #e67e22;
$orange-light: #ffeaea;
$grey: #999;
$grey-strong: #666;
$green: #00b242;
$dark-green: #008732;
$light-green: #67be4b;
$light-green-light: #ccffcc;
$light-green-lightest: #f0fff0;
$red: #ff3860;
$dark-red: #da002c;
$pink-light: #ffc9d0;
$pink: #ff69c0;
$pink-strong: #ff49a0;
$light-purple: #f1e4ff;
$purple: #cfd1ff;
$purple-strong: #8f91eb;
$dark-purple: #5e60ba;
$dark-purple-strong: #4a4a6f;
$blue-light: #92a9fa;
$blue: #7289da;
$yellow: #ffc107;

:root {
  --background: #ffffff;
  --background-rgb: 255, 255, 255;
  --background-alt: #f6f6f6;
  --background-alt-2: #fff;
  --background-alt-rgb: 246, 246, 246;
  --background-block: #ffffff;
  --background-page: #f6f6f6;
  --background-hover: #efefef;
  --background-hover-rgb: 240, 255, 240;
  --background-tag: #eee;
  --background-tag-button: #f9f9f9;
  --background-selectable: #e3e6ff;
  --background-selectable-rgb: 227, 230, 255;
  --background-selected: #cecefe;
  --background-disabled: #ddd;
  --background-panel: #f4f4f4;
  --border: #dbdbdb;
  --border-rgb: 219, 219, 219;
  --border-alt: #dbdbdb;
  --skeleton-rgb: 200, 200, 200;
  --box-shadow: #ddd;
  --box-shadow-alt: #eee;
  --text: #7a7a7a;
  --text-alt: #888;
  --text-strong: $black;
  --text-selectable: #9fa2fb;
  --text-selected: #8f91eb;
  --poster-color: #000;
  --purple: #cfd1ff;
  --shared-color: #f9e04b;
}

.dark {
  --background: #36393f;
  --background-rgb: 54, 57, 63;
  --background-alt: #46494f;
  --background-alt-2: #46494f;
  --background-alt-rgb: 70, 73, 79;
  --background-block: #46494f;
  --background-hover: #4f525a;
  --background-hover-rgb: 94, 97, 105;
  --background-page: #36393f;
  --background-tag: #36393f;
  --background-tag-button: #4e5159;
  --background-selectable: #7375bc;
  --background-selectable-alt: #878b97;
  --background-selected: #5e60ba;
  --background-disabled: #25282e;
  --background-panel: #25282e;
  --border: #25282e;
  --border-rgb: 37, 40, 46;
  --border-alt: #666666;
  --skeleton-rgb: 170, 170, 170;
  --box-shadow: #2226;
  --box-shadow-alt: #2226;
  --text: #eeeeee;
  --text-alt: #eeeeee;
  --text-strong: #fefefe;
  --text-selectable: #bec0fa;
  --text-selected: #9ea0fa;
  --purple: #5e60ba;
}

.dp__theme_dark {
  --dp-background-color: #26292f;
}
