$dark-grey-lightest: #5E6169;
$dark-grey-lighter: #4E5159;
$dark-grey-light: #3D4048;
$dark-grey: #25282E;
$dark-grey-strong: #222427;
$white-grey: #EEE;
$white-grey-light: #F9F9F9;
$white: #FEFEFE;
$light-grey-light: #DDD;
$light-grey: #CCC;
$orange: #f57f17;
$grey: #999;
$grey-strong: #666;
$green: #00B242;
$dark-green: #008732;
$light-green: #67BE4B;
$light-green-light: #CCFFCC;
$light-green-lightest: #F0FFF0;
$red: #FF3860;
$dark-red: #DA002C;
$purple: #D1C4E9;
$light-purple: #F1E4FF;
$purple-strong: #8F91EB;
$dark-purple: #5E60BA;
$blue-light: #92A9FA;
$blue: #7289DA;
