$dark-grey-lightest: #5E6169;
$dark-grey-lighter: #4E5159;
$dark-grey-light: #3D4048;
$dark-grey: #25282E;
$dark-grey-strong: #222427;
$white-grey: #EEE;
$green: #00B242;
$green-dark: #008732;
$green-light: #67BE4B;
