name: Deploy Kitsu to staging environment

on:
  push:
    branches:
      - master

jobs:
  build:
    if: github.repository_owner == 'cgwire'
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Update Kitsu on staging server
        uses: appleboy/ssh-action@v0.1.4
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          port: ${{ secrets.PORT }}
          script_stop: true
          script: |
            cd /opt/kitsu
            npm ci
            npm run build
            GIT_COMMIT="$(git rev-parse HEAD)"
            GIT_TAG="$(git describe --tags)"
            KITSU_VERSION="$(echo ${GIT_TAG} | sed 's/^v//;s/-build//')"
            echo "${KITSU_VERSION}" > dist/.version.txt
            echo "${GIT_COMMIT}"    > dist/.commit.txt
            echo "${GIT_TAG}"       > dist/.tag.txt

